<ul class="navbar-nav ms-auto">
  <li class="nav-item"><a class="nav-link" href="/commerce/home">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="/commerce/profile">Perfil del Comercio</a></li>
  <li class="nav-item"><a class="nav-link" href="/commerce/categories">Mantenimiento de Categorías</a></li>
  <li class="nav-item"><a class="nav-link" href="/commerce/products">Mantenimiento de Productos</a></li>
  <li class="nav-item"><a class="nav-link" href="/auth/logout">Cerrar Sesión</a></li>
</ul>