<ul class="navbar-nav ms-auto">
  <li class="nav-item"><a class="nav-link" href="/client/home">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="/client/profile">Mi Perfil</a></li>
  <li class="nav-item"><a class="nav-link" href="/client/orders">Mis Pedidos</a></li>
  <li class="nav-item"><a class="nav-link" href="/client/addresses">Mis Direcciones</a></li>
  <li class="nav-item"><a class="nav-link" href="/client/favorites">Mis Favoritos</a></li>
  <li class="nav-item"><a class="nav-link" href="/auth/logout">Cerrar Sesión</a></li>
</ul>