<ul class="navbar-nav ms-auto">
  <li class="nav-item"><a class="nav-link" href="/admin/home">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="/admin/clients">Listado de Clientes</a></li>
  <li class="nav-item"><a class="nav-link" href="/admin/deliveries">Listado de Deliveries</a></li>
  <li class="nav-item"><a class="nav-link" href="/admin/commerces">Listado de Comercios</a></li>
  <li class="nav-item"><a class="nav-link" href="/admin/config">Mantenimiento de Configuración</a></li>
  <li class="nav-item"><a class="nav-link" href="/admin/admins">Mantenimiento de Administradores</a></li>
  <li class="nav-item"><a class="nav-link" href="/auth/logout">Cerrar Sesión</a></li>
</ul>